<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Movie Recommendation</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body style="background-color:beige;">
        <h1>Movie Recommendations</h1>
	<hr style="width:25%;text-align:left;margin-left:0;">
        <form action="/submit" method="POST">
            <label for="user_movie">Movie:</label>
            <input type="text" name="user_movie" placeholder="Enter a movie">
            <button type="submit">Submit</button>
            {% if movie %}
                <h2>Recommendations for "{{ movie }}":</h2>
                    <ul>
                        {% for rec in recommended %}
                            <li>{{ rec }}</li>
                        {% endfor %}
                    </ul>
            {% endif %}
        </form>
        
    </body>
</html>
